<div class="splash">
  <span class="app-title">
    <h1>Expenditor</h1>
  </span>
  <span class="splash-img">
<i class="fas fa-hand-holding-usd"></i>
<%# <i class="fas fa-dollar-sign"></i> %>
  </span>
  <p class="motto">...your expenditure manager</p>
   <div class="links-bar">
      <%= link_to "Sign In", new_user_session_path, class: "links" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "links" %>
   </div>
</div>