<div class="splash">
  <span class="app-title">
    <h1>Expenditor</h1>
  </span>
  <div class="links-bar">
    <%= link_to "Sign In", new_user_session_path, class: "links" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "links" %>
  </div>
</div>