<div class="menu-bar">
  <div class="transc">
    <span id="menu-toggle">
      <i class="fas fa-bars"></i>
    </span>
    <p>CATEGORIES</p>
    <i class="fas fa-search"></i>
  </div>
  <div class="most-recent">
   <%= link_to "/" do %>
      <i class="fas fa-arrow-left"></i>
      <% end %>
    <p>Most recent</p>
    <p>Most ancient</p>
  </div>
</div>
<%= render "shared/sidebar" %>