<div class="menu-bar">
  <div class="transc">
    <span id="menu-toggle">
      <i class="fas fa-bars"></i>
    </span>
    <p>EXPENDITURES</p>
    <i class="fas fa-search"></i>
  </div>
  <div class="most-recent">
    <p>Most recent</p>
    <p>Most ancient</p>
  </div>
  <% if @expenditure.nil? %>
    <span class="no-value">
      <p>Credit</p>
      <p>$0</p>
    </span>
  <% else %>
    <span class="grand-total">
      <p>Credit</p> 
      <p>$<%= @expenditure.grand_total %></p>
    </span>
  <% end %>
</div>
<%= render "shared/sidebar" %>