/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');

body {
  box-sizing: border-box;
  font-family: 'Proxima Nova Condensed', sans-serif;
  padding-left: 20px;
}

h1,
h2 {
  text-align: center;
}

form {
  margin: auto;
  padding: 10px;
  align-self: center;
  width: 60%;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 20px;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 0.9rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input option {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: none;
  border-radius: 0;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.input option:hover {
  background-color: #f8f9fa;
  color: #212529;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

input[type="file"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 20px;
}

.content {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-list {
  width: 90%;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 20px;
}

.image img {
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #ccc;
  max-width: 100%;
  width: 100px;
}

h5 {
  margin-bottom: 10px;
  font-weight: bold;
  color: #999;
}

small {
  color: #999;
  font-size: 14px;
}

.total {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  color: #999;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.transc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  color: #fff;
  font-size: 1.5rem;
  background-color: #3778c2;
}

.transc p {
  margin: 0 10px;
}

.most-recent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  background-color: #3778c2;
  font-size: 1rem;
  color: #fff;
}

.most-recent p {
  margin: 0;
  font-size: 12px;
}

.no-value {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px #ccc;
  border-bottom: 1px solid #ccc;
}

.grand-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
  padding: 1rem;
  box-shadow: 2px 2px 5px #ccc;
  border-bottom: 1px solid #ccc;
}

footer {
  margin-left: 5rem;
}

#menu-toggle {
  background: none;
  cursor: pointer;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: rgba(55, 120, 194, 0.9);
  color: #fff;
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
  z-index: 3;
}

#sidebar.show {
  transform: translateX(0);
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.user-profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 10px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.fa-arrow-left {
  color: #fff;
}

.app-title {
  font-weight: 900;
  color: #4caf50;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.motto {
  font-size: 1.2rem;
  font-style: italic;
  color: #f00;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-bar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.links {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.links:hover {
  background-color: #3e8e41;
}
